:root{
    --black:#0b0b0b;
    --paper:#eee8dc;
    --text:#f2eee7;
    --muted:#aaa49a;
    --yellow:#e5ad24;
    --line:#46433e;
    --blue:#38bdf8;
}

html{
    scroll-behavior:smooth;
    background:var(--black)!important;}
*{
    background-color:transparent!important; transition: .3s;}
body{
    margin:0;padding:0;background:var(--black)!important;
    color:var(--text)!important;
    font-family:Arial,Helvetica,sans-serif;line-height:1.6;}
img{max-width:100%;height:auto;display:block;}
ul{list-style:none!important;margin:0;padding:0;}
a{color:inherit;}

.yellow-paper{
    display:inline-block;
    background:var(--yellow)!important;
    color:#111!important;
    padding:7px 18px;
    font-weight:900;
    letter-spacing:1.5px;
    line-height:1.1;
    transform:rotate(-2deg);
}
header .yellow-paper:hover{
    transform:rotate(0deg);
    transition:.3s;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.nav-title{
    
    display:flex!important;
    align-items:center;
    border:0!important;}
.dropdown{
    display:none!important;
    border:0!important;
    background:transparent!important;
    color:var(--text)!important;
    cursor:pointer;
    padding:8px;
    font-size:30px;
    line-height:1;}
.navbar {
    display: flex;
    justify-content: space-between; /* Pushes title to the left, links to the right */
    align-items: center;           /* Vertically centers both elements */
    padding: 10px 20px;            /* Adds padding around the navbar content */
    }


.sub-title{
    display:flex;
    align-items:baseline;
    gap:12px;margin-bottom:35px;
    border-bottom:1px solid var(--line);
    padding-bottom:12px
}
.sub-title span:first-child{
    color:var(--yellow)!important;
    font-size:14px;
    font-weight:900}
.sub-title span:last-child{
    color:var(--text)!important;
    text-transform:uppercase;
    font-size:clamp(24px,4vw,42px);
    font-weight:900;
    letter-spacing:-1px}


#introduction{
    width:min(92%,1250px);
    min-height:calc(100vh - 140px);
    margin:auto;padding:70px 0;
    display:flex;
    align-items:center;
}
#introduction .wrapper{
    width:100%;display:grid;
    grid-template-columns:minmax(180px,.8fr) minmax(300px,1.2fr);
    gap:clamp(35px,6vw,90px);align-items:center;
}
#introduction .col-2-1{
    position:relative;}
#introduction .col-2-1 img{
    width:min(100%,380px);
    aspect-ratio:4/5;
    object-fit:cover;
    background:#222!important;
    border:1px solid #555;
    filter:blur(50px);
    transition:.3s;
}
#introduction .col-2-1 img:hover{
    filter:blur(0px);
    transition:.3s;
}
#introduction .col-2-1:after{
    content:"";
    position:absolute;
    width:88%;
    height:88%;
    left:7%;
    top:7%;
    border:1px solid #e5ad2473;
    pointer-events:none;
}
#introduction .col-2-2 .names p{
    margin:0;
    text-transform:uppercase;
    font-size:clamp(38px,7vw,86px);
    font-weight:900;
    line-height:.9;letter-spacing:-3px;
}
#introduction .col-2-2 .names p:last-child{
    color:var(--yellow)!important}
#introduction .col-2-2 .profil p{
    display:inline-block;
    margin:28px 0 20px;padding:7px 12px;
    background:var(--paper)!important;
    color:#111!important;
    font-weight:900;
    text-transform:uppercase;
    transform:rotate(-1deg);
}
#introduction .col-2-2 .paths{
    color:var(--muted);
    font-family: "brush script mt", "bradley hand", cursive;
    font-size:clamp(20px,2vw,21px);
    line-height:1.45;
    margin-bottom:28px;
}
#introduction table{
    width:100%;
    max-width:650px;
    border-collapse:collapse;
    border-top:1px solid var(--line);}
#introduction th,#introduction td{
    text-align:left;
    padding:9px 10px;
    border-bottom:1px solid var(--line);
    font-size:13px
}
#introduction th{
    width:30%;
    color:var(--yellow)!important;
    text-transform:uppercase;
    font-size:10px;
    letter-spacing:1px;
}
#introduction td{color:var(--text)!important;}

#experience,#about, #gallery,#contact{
    width:min(92%,1250px);margin:auto;padding:100px 0; }

#experience{
    border-top:1px solid var(--line);
    text-transform:capitalize;}
#experience .wrap .yellow{
    color:var(--yellow)!important;
}
#experience .wrap .ex-details{
    position: relative;
    border-left:1px solid var(--line); 
    padding-left: 20px;}
#experience .wrap .ex-details div{
    display: list-item;
    list-style-type: disc;
}
#experience .wrap .ex-details div::marker{
    color: var(--yellow);
    font-size: 1.9rem;
}
#experience .wrap .ex-details .jb-ex .grid{
    display:grid;
    grid-template-columns: 1fr 1fr;}
#experience .wrap .ex-details .jb-ex .grid .jb-ex-dis{
    border-right: 0.5px solid var(--line) !important;}
#experience .wrap .ex-details .jb-ex .grid .jb-ex-skills{
    padding: 5px 20px 0px 50px;
    color: rgb(236, 230, 230);
    list-style-type: circle !important;
}
#experience .wrap div{margin-bottom:70px;}
#experience .wrap .ex-details .quality{
    position: absolute;
    right: 60px;
    bottom: 45px;
    align-items: center;
    width: 10%;
    padding: 7px 0px;
    border:1px solid rgb(197, 26, 26);
    transform: rotate(-15deg);
    }
#experience .wrap .ex-details .quality li{
    display: block;
    text-align: center;
    border-bottom:1px solid rgb(124, 39, 39);
    font-size: 20px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#experience .wrap .ex-details .quality li:last-child{
    border: none !important;
}
/*/ #experience .wrap .ex-details div:nth-child(2), #experience .wrap .ex-details div:nth-child(3){
    
}
*/


#about p:not(.left){
    color:var(--muted);
    font-size:clamp(16px,2vw,20px)}
#about .left{
    font-family: cursive;
    margin-top:45px;
    margin-left:auto;
    max-width:400px;
    color:var(--yellow)!important;
    font-size:clamp(28px,5vw,55px);
    font-weight:900;
    line-height:.95;
    text-transform:uppercase;
    transform:rotate(-10deg);
    transition:.3s;}
#about .left:hover{ 
    transform:rotate(0deg);
    transition:.3s;
}


#gallery .wrap .img-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:12px;}

#gallery img{
    width:100%;aspect-ratio:1/1.25;object-fit:cover;background:#222!important;
    border:1px solid #444;filter:grayscale(100%);transition:.3s;
}
#gallery img:hover{transform:translateY(-5px);filter:grayscale(0%);}


.contact {
    background-color: #1e293b;
    padding: 60px 5px 30px 5px;
    width: 100%;
}

.contact-container {max-width: 100%;margin: 0 0px;}

.contact-link-wrapper {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    gap: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--muted);
}

.contact-link-wrapper .footer-col h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--yellow);
    letter-spacing: -0.02em;
}

.contact-link-wrapper .footer-col p {
    color: var(--text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.525rem;
    line-height: 1.6;
    max-width: 460px;
}
/*
.contact-list {
    
}*/
.contact-list li{margin-bottom: 12px;}
.contact-list li a, 
.contact-list li span {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--yellow);
    font-size: 0.95rem;
    text-decoration: none;
}
.contact-list li a:hover {color: var(--blue);}
.contact-list i {
    color: var(--blue);
    font-size: 1rem;
    width: 20px;
    text-align: center;
}
.contact-social .social-links {
    display: flex;
    gap: 12px;
    margin-top: 5px;
}
.contact-social .social-links a {
    color: var(--paper);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.2s ease;
}
.contact-social .social-links a:hover {color: var(--yellow);transform: translateY(-3px);}
.footer-bottom {
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    font-size: 0.875rem;
}
.footer-bottom-text {
    border: 1px solid var(--muted);
    border-radius: 20px;
    padding: 6px 14px;
    color: var(--muted);
    font-weight: 500;
}
.footer-bottom-text i {color: #f43f5e;}




/* MAKING IT RESPONSIVE */
@media(max-width:900px){
    #introduction{min-height:auto;padding:65px 0}
    #introduction .wrapper{grid-template-columns:220px 1fr;gap:35px}
    #gallery .wrap .img-grid{grid-template-columns:repeat(3,1fr)}
    #experience .wrap .ex-details .jb-ex .grid{grid-template-columns: 1fr !important;}
    #experience .wrap .ex-details .jb-ex .grid .jb-ex-dis{
    border-right: none !important;}
    #experience .wrap .ex-details .quality{display: none;}
    .contact-link-wrapper .footer-col p {
        color: var(--paper);
        font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.525rem;}
}


/* LAPTOP NAVIGATION */
@media(min-width:862px){

    .ph{display:none;}
    .nav-lt {
    display: flex;           
    margin: 0;
    padding: 0;
    gap: 20px;}
    /* Adjust the spacing between the links as needed */
    .active{
        color:var(--yellow)!important;
        border-bottom:1px solid var(--yellow);
    } 
    .laptop-nav{
        margin:auto;
        border-top:1px solid var(--line);
        border-bottom:1px solid var(--line);
    }
    .laptop-nav .nav-lt{
        padding:14px 0;
    }
    .laptop-nav .nav-lt a{
        display:inline-block!important;
        padding:3px 0!important;
        color:var(--muted)!important;
        text-decoration:none!important;
        text-transform:uppercase;
        font-size:12px!important;
        letter-spacing:.8px;transition:.25s;}

    .laptop-nav .nav-lt a span{
        color:var(--yellow)!important;
        margin-right:4px;}
    .laptop-nav .nav-lt a:hover{color:var(--text)!important;}

}


/* PHONE NAVIGATION */
@media(max-width:861px){
    header .navbar{min-height:72px}
    #experience .wrap .ex-details .jb-ex .grid{grid-template-columns: 1fr;}
    #experience .wrap .ex-details .quality{display: none;}


    .dropdown{display:block!important}
    .nav-slides{
        display:block!important;
        position:fixed;
        z-index:2000;
        top:0;
        left:0;
        width:0;
        height:100vh;
        padding:75px 0 30px;
        margin:0;
        overflow-x:hidden!important;
        overflow-y:auto;
        background:#111!important;
        transition:width .35s ease;
        border-right:1px solid var(--line)
    }
    header .nav-slides.open{width:100%}
    header .nav-slides li{background:transparent!important;margin:0;padding:0;white-space:nowrap}
    header .nav-slides li a{
        display:block!important;
        padding:13px 32px!important;
        color:var(--text)!important;
        text-decoration:none!important;
        text-transform:uppercase;
        font-size:clamp(20px,7vw,30px)!important;
        letter-spacing:1px;
        background:transparent!important;
        transition:.2s
    }
    header .nav-slides li a:hover{color:var(--yellow)!important;padding-left:42px!important}
    header .nav-slides .closebtn{
        position:absolute;top:14px;right:25px;padding:0!important;font-size:42px!important;
        line-height:1;color:var(--text)!important
    }


    #introduction{width:90%;padding:45px 0 70px;}
    #introduction .wrapper{display:flex;flex-direction:column;align-items:stretch;gap:35px;}
    #introduction .col-2-1 img{width:min(75vw,330px);margin:auto;}
    #introduction .col-2-1:after{width:min(66vw,290px);left:50%;transform:translateX(-50%);}
    #introduction .col-2-2>div:first-child p{font-size:clamp(42px,15vw,70px);letter-spacing:-2px;}
    #introduction .col-2-2>div:nth-child(2) p{margin:20px 0 16px;}
    #introduction .col-2-2>div:nth-child(3){font-size:16px;}
    #introduction th,#introduction td{
        padding:8px 5px;
        font-size:11px;}
    #introduction th{width:32%;}

    #about,#experience,#gallery,#contact{
        width:90%;
        padding:70px 0;}
    #about .wrap p:not(.left){font-size:16px;}
    #about .wrap .left{
        margin-top:35px;
        max-width:150px;
        font-size:clamp(20px,2vw,40px);
        transform:rotate(0deg);
        transition: 1s !important;}
    #about .wrap .left:hover{ 
        transform:rotate(-10deg);
        transition: 1s !important;
    }


    #experience .wrap .ex-details .jb-ex .grid {grid-template-columns: 1fr;}
    #experience .wrap .ex-details .quality {display: none;}

    #gallery .wrap .img-grid {grid-template-columns:repeat(2,1fr);}
    #gallery .wrap .img-grid {gap:8px;}

    .contact-link-wrapper {grid-template-columns: 1fr;gap: 30px;}
}


/* SMALL-PHONE NAVIGATION */
@media(max-width:420px){
    header .yellow-paper{padding:6px 12px;}
    header .yellow-paper{font-size:13px;}
    header .dropdown{font-size:26px;}

    #introduction .col-2-2>div:first-child p{font-size:42px;}
    #introduction th{font-size:9px}
    #introduction td{font-size:10px;overflow-wrap:anywhere;}}

@media(max-height:450px) and (max-width:700px){
    header .navbar{min-height:60px}
    header .nav-slides{padding-top:60px}
    header .nav-slides li a{padding-top:8px!important;padding-bottom:8px!important;font-size:19px!important}
}
